.wbdv-navbar{
    color:white;
    font-weight: bolder;
}

#wbdv_main_menu{
    border-bottom: none;
    border-top: none;
}


#transparent-navbar{
    background-color: rgba(50, 115, 220, 0.3);;
}

.white-nav{
    color:white;
}



#white-nav{
    color:white;
    font-size: medium;
    font-weight: bolder;
    background-color: transparent;
}
