


.wbdv-main-menu ul {
    float: right
}

#wbdv_main_menu{
     border-top: none;
     border-bottom: none;
        float:right;
 }


@media (min-width: 768px) and (max-width: 991.98px) {
    .wbdv-main-menu ul {
        display: none;
        float: left;
        position: absolute;
        top: 20px;
        left: 0;
        z-index: 4;
        background: #f9f9ff;
        width: 100%;
        padding: 20px 20px 30px
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .wbdv-main-menu ul {
        display: none;
        float: left;
        position: absolute;
        top: 20px;
        left: 0;
        z-index: 4;
        background: #f9f9ff;
        width: 100%;
        padding: 20px 20px 30px
    }
}

@media (max-width: 575.98px) {
    .wbdv-main-menu ul {
        display: none;
        float: left;
        position: absolute;
        top: 20px;
        left: 0;
        z-index: 4;
        background: #f9f9ff;
        width: 100%;
        padding: 20px 20px 30px
    }
}

.wbdv-main-menu ul li {
    display: inline;
    position: relative
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .wbdv-main-menu ul li {
        display: block
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .wbdv-main-menu ul li {
        display: block
    }
}

@media (max-width: 575.98px) {
    .wbdv-main-menu ul li {
        display: block
    }
}

.wbdv-main-menu ul li a {
    color: white;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    padding: 15px
}

.wbdv-main-menu ul li:hover ul.sub-menu {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    visibility: visible;
    top: 100%
}

.wbdv-main-menu ul li ul.sub-menu {
    padding: 10px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 150%;
    left: 30px;
    width: 250px;
    background: #f9f9ff;
    z-index: 2;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.wbdv-main-menu ul li ul.sub-menu li {
    display: block
}

.wbdv-main-menu ul li ul.sub-menu li a {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.wbdv-main-menu ul li ul.sub-menu li a:hover {
    color: #ffb606
}

.wbdv-main-menu2 ul a {
    color: #fff !important
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .wbdv-main-menu2 ul a {
        color: #131230 !important
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .wbdv-main-menu2 ul a {
        color: #131230 !important
    }
}

@media (max-width: 575.98px) {
    .wbdv-main-menu2 ul a {
        color: #131230 !important
    }
}

.wbdv-main-menu2 ul ul.sub-menu a {
    color: #131230 !important
}

.wbdv-main-menu2 ul ul.sub-menu a:hover {
    color: #ffb606 !important
}
