#home-page {
    height:100%;
}

.header-top {
    padding: 20px 0px;
}

.banner-area .homepage{
    padding:0;
}

.top-head-btn {
    background: #f47d41;
    padding: 9px 26px;
}

.main-menu {
    padding-bottom: 20px;
    padding-top: 20px;
    /*border-top: 1px solid rgba(255, 255, 255, 0.2);*/
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.2);*/
    padding-left: 15px;
    padding-right: 15px;
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}

#header.header-scrolled {
    transition: all 0.5s;
    background-color: rgba(34, 34, 34, 0.9);
}
#header.header-scrolled .header-top {
    display: none;
}
#header.header-scrolled .main-menu {
    background: transparent;
    border: none;
}

#header .profile-name {
    position: absolute;
    color: white;
    right: 50px;
    top: 10px;
    font-weight: 600;
}

#header .profile-name:hover {
    color: #f42f2c;
}

.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    flex-direction: row;
    list-style: none;
}

.nav-menu ul {
    position: relative;
    display: none;
    top: 100%;
    right: 0;
    z-index: 99;
}

.nav-menu li {
    position: relative;
    flex-direction: row;
    white-space: nowrap;
}

.nav-menu > li {
    float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
    display: block;
}

.nav-menu ul ul {
    top: 0;
    right: 100%;
}

.nav-menu ul li {
    min-width: 180px;
}

.sf-arrows .sf-with-ul {
    padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
    content: "";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
    content: "";
}

/* Nav Meu Container */
@media (max-width: 768px) {
    #nav-menu-container {
        display: none;
    }
}
/* Nav Meu Styling */
.nav-menu a {
    padding: 0 8px 0px 8px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
}

.nav-menu li:hover > a {
    color: #f47d41;
}

.nav-menu > li {
    margin-left: 10px;
}

.nav-menu ul {
    margin: 20px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
}

.nav-menu ul li {
    transition: 0.3s;
}

.nav-menu ul li a {
    padding: 5px 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 12px;
    text-transform: none;
}

.nav-menu ul li:hover > a {
    color: #f47d41;
}

.nav-menu ul ul {
    margin-right: 10px;
    margin-top: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
    float: right;
    z-index: 999;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}

.menu-title {
    color: #fff;
    display: none;
}

#mobile-nav-toggle i {
    color: #fff;
    font-weight: 900;
}

@media (max-width: 991px) {
    #mobile-nav-toggle {
        display: inline;
    }

    .menu-title {
        display: inline-block;
    }

    #nav-menu-container {
        display: block;
    }
}


#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.8);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
}

#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#mobile-nav ul li {
    position: relative;
}

#mobile-nav ul li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    font-weight: 400;
}

#mobile-nav ul li a:hover {
    color: #fff;
}

#mobile-nav ul li li {
    padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #f47d41;
}

#mobile-nav ul .menu-has-children li a {
    text-transform: none;
}

#mobile-nav ul .menu-item-active {
    color: #f47d41;
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
    overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
    left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
}

.section-gap {
    padding: 120px 0;
}

.alert-msg {
    color: #fff;
}

#logo {
    padding-left: 15px;
}

#nav-menu-container {
    padding-right: 15px;
}

.primary-btn {
    background: #f47d41;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
.primary-btn:focus {
    outline: none;
}
.primary-btn span {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    right: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.primary-btn:hover {
    color: #fff;
    background-color: #f45f41;
}
.primary-btn:hover span {
    color: #fff;
    right: 20px;
}
.primary-btn.white {
    border: 1px solid #fff;
    color: #fff;
}
.primary-btn.white span {
    color: #fff;
}
.primary-btn.white:hover {
    background: #fff;
    color: #f47d41;
}
.primary-btn.white:hover span {
    color: #f47d41;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.section-title {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}
.section-title h1 {
    margin-bottom: 10px;
}

/*-------- Start Banner Area ------------*/
.banner-area {
    background: url(../../assets/img/hero-bg.jpg) center center/cover;
    background-size: auto;
    height:inherit;
}
@media (max-width: 767px) {
    .banner-area {
        height: 900px !important;
        /*height:inherit;*/
    }
}

.banner-content {
    margin-top: 170px;
}
@media (max-width: 1024px) {
    .banner-content {
        margin-top: 190px;
    }
}
@media (max-width: 736px) and (min-width: 415px) {
    .banner-content {
        margin-top: 190px;
    }
}
.banner-content h6 {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}
.banner-content h1 {
    font-size: 60px;
    font-weight: 700;
    margin: 20px 0;
}
@media (max-width: 767px) {
    .banner-content h1 {
        font-size: 40px;
    }
}
.banner-content p {
    max-width: 700px;
    font-size: 15px;
}
.banner-content .primary-btn:hover {
    background: #f45f41;
    color: #fff;
}
