@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700');

body {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, body, #root{
  height:100%;
  width: 100%;
}
